/* Hover text animation with delay on exit */
.hover-text-delay {
  transition:
    max-width 300ms ease-in-out,
    opacity 300ms ease-in-out;
}
.group:hover .hover-text-delay {
  transition-delay: 0s;
}
.group:not(:hover) .hover-text-delay {
  transition-delay: 1s;
}
